[submodule "themes/hugo-notice"]
	path = themes/hugo-notice
	url = https://github.com/martignoni/hugo-notice
[submodule "themes/compose"]
	path = themes/compose
	url = https://github.com/onweru/compose
